.container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(25, 27, 31);
  border-radius: 16px;
  white-space: nowrap;
  height: 40px;
}

.address {
  display: initial;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  border-radius: 14px;
  margin-right: 2px;
  margin-left: 1px;
  background-color: rgb(33, 36, 41);
  border: 1px solid rgb(33, 36, 41);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1rem;
  flex: 3;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.network {
  padding: 0 10px;
  flex: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .address {
    flex: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-left: auto;
  }
  .network {
    flex: none;
  }
}
